<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" />
    <input name="hosted_button_id" type="hidden" value="NPBQJDJM6E27S" />
    <table>
        <tbody>
        <tr>
            <td><input name="on0" type="hidden" value="Number of users" />Number of users</td>
        </tr>
        <tr>
            <td><select name="os0">
                <option value="1 user">1 user $350.00 USD</option>
                <option value="2 users">2 users $450.00 USD</option>
                <option value="3 users">3 users $550.00 USD</option>
                <option value="5 user">5 user $700.00 USD</option>
                <option value="10 user">10 user $900.00 USD</option>
            </select></td>
        </tr>
        </tbody>
    </table>
    <input name="currency_code" type="hidden" value="USD" />
    <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" />
    <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>